.register-custom{
    max-height: 425px;
    background: url(../img/register.gif);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 89%;
    text-align: center;
}
.bg-color2{
    background-color: #00000036;
    color: yellow;
}
.bd-register{
  border-bottom: solid rgb(255, 179, 0) 5px;
}

/* BUTTON */
.button-894 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #ebff35;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000004d 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 22px;
    margin-top: 3vh;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-894:hover,
  .button-894:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }

  .button-894:active {
    background: var(--color);
    color: #fff;
  }


  .btnImg{
    position: absolute;
    left:65px;
    bottom: -40px;
    background:none;
    border:none;
    
  }


  @media screen and (max-width: 600px) {
    .btnImg {
      right:0px;
      top: -150px;
      bottom: 0px;
      left: 315px;
      
    }
  }
